<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
        background-image: url('https://c4.wallpaperflare.com/wallpaper/564/261/260/simple-background-abstract-blue-artwork-wallpaper-preview.jpg');
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
      }
      h1 {
        font-size: 36px;
        margin-top: 100px;
        text-align: center;
      }
      form {
  background-color: #30332d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  height: 280px;
}

input[type="email"],
input[type="password"] {
   width: 100%;
        max-width: 500px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-bottom: 30px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
}


button[type="submit"] {
    display: block;
  margin: 0 auto;

}

      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
      }
      button[type="submit"] {
        background-color: #f4c10a;
        border-radius: 5px;
        color: #131212;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 30px;
      }
     </style>
  </head>
  <body>
    <h1>Login</h1>
    
    <form method="post" action="/login">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Email"required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="password"required>
      <% if (error) { %>
        <div class="error-message" style="color: red;"><%= error %></div>
      <% } %>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
